/*ELEMENTOS*/
*{
    padding:0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

/*dvTopo*/
#dvTopo{
    background-color: #A9A9A9;
    border-bottom: 1px solid #BDBDBD;
}

#dvTopo{
    text-align: center;
}

#dvTopo img{
    width:100%;
    max-width: 226px;
}

/*#dvMenu*/
#dvMenuTopo{
    background-color: #233237;
    border-bottom: 5px solid #BDBDBD;
}

#dvMenuTopo ul {
    list-style: none;
    padding:5px;
}

#dvMenuTopo ul li{
    display: inline;
    padding:5px;
}

#dvMenuTopo ul li:hover{
    background-color: #03A9F4;
}


#dvMenuTopo ul li a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.125em;
    padding:5px;
}

/**/
#dvConteudo{
    min-height: 100vh;
}

/*dvEsquerda*/
#dvEsquerda{
    border:1px solid #BDBDBD;
}

#boxBusca{
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #eeebeb;
    border:1px solid #BDBDBD;
}

/**/

#txtBusca{
    width: 100%;
    max-width: 250px;
    padding: 7px;
    margin-bottom: 10px;
    outline: none;
    border:1px solid #3399ff;
}

#txtBusca:active{
    box-shadow: 0 0 5px #03A9F4;
}

#slBusca{
    width: 100%;
    max-width: 200px;
    padding: 7px;
    margin-bottom: 10px;
    outline: none;
    border:1px solid #3399ff;
}    

#btnBuscar{
    width: 100%;
    max-width: 200px;
    padding: 7px;
    outline: none;
    border:1px solid #3399ff;
    cursor: pointer;
    background-color: #f6f7f9;
}


/*dvDireita*/
#dvDireita{

}

#iconesSociais a img{
    width:100%;
    max-width: 48px;
    padding:0.3em;
}

.boxDireita{
    border:1px solid #BDBDBD;
    padding:10px;
    margin-bottom:20px;
    text-align: center;
}

@media (max-width: 480px){
    #txtBusca{
        width: 100%;
        max-width: 240px;
    }

    #slBusca{
        width: 100%;
        max-width: 255px;  
    }

    #btnBuscar{
        width: 100%;
        max-width: 255px; 
    }
}

/*dvRodape*/
#dvRodape{
    background-color: #233237;
    border-top: 5px solid #BDBDBD;
    padding: 10px;
    text-align: center;
    color: #fff;
}

/**/

.painel{
    max-width:800px;
    width:100px;
    background-color: coral;
}

.panel .panel-title{
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.panel .panl-contex .dvGrid{
    text-align: center;
    background-color: #FFF;
    width: 100%;
    max-width: 24%;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 5px;
}  
@media (max-width: 480px){
    .panel .panel-content .dvGrid{
        max-width: 49%;
    }
}

.panel .panel-content a{
    text-decoration: none;
    color: #111;
    font-size: 1em;
}

.panel .panel-content img{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
