/*Elements*/
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #ccc;
}
ul{
list-style: none;
}

/*class*/
.centralizada{
     max-width: 1280px;
}

.alignLeft{
    text-align: left;
}

.alignCenter{
    text-align: center;
}

.alignRight{
    text-align: right;
}

.alignJustfy{
    text-align: justify;
}

.clear{
    clear: both;
}

.borderBottom{
    border-bottom: 1px solid #eee;
    width: 90%;
}

/*ID*/

#dvLogin{
    max-width: 500px;
    width: 100%;
    margin-top: 10%;
    background-color: #FFF;
    border-radius: 5px;
    border: 2px solid #eee;
    padding: 10px;
}

#dvPainel{
    width: 100%;
    background-color: #FFFFFF;     
    min-height: 100vh;
      
}
#ulMenu{
    background-color: #d9534f;
}

#ulMenu li{
 display: inline;
 font-size: 1.125em;
 color: #607D8B;
}

#ulMenu li a:hover{
 background-color: #02BBD1;
     color: #FFF;
}

#ulMenu li a{
    color: #212121;
    text-decoration: none;
    padding: 2px 10px;
    display: inline-block;
    
}

#dvlogoTopo img{
    padding: 10px;
}

#dvConteudo{
    margin: 10px;
}

#dvRodape{
    background-color: #FFF; 
    border-top: 3px solid #eee; 
}
